.point-cluster {
  position: absolute;
  color: #fff;
  z-index: 2000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 11px;
  cursor: pointer;
}
.point-cluster.large {
  background: url('http://images-static.moxiworks.com/static/images/br/clusterLarge.png');
}
.point-cluster.medium {
  background: url('http://images-static.moxiworks.com/static/images/br/clusterMedium.png');
}
.point-cluster.small {
  background: url('http://images-static.moxiworks.com/static/images/br/clusterSmall.png');
}

#point_cluster_overlay {
  position: absolute;
}
