$normal-pin-size: 16px;
$hidden-pin-size: 4px;
.point-cluster {
  position: absolute;
  color: #fff;
  z-index: 2000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}
.point-cluster.large {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
}
.point-cluster.medium {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
.point-cluster.small {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
}
#point_cluster_overlay {
  position: absolute;
}
.marker-point {
  box-sizing: border-box;
  background: #0f2b5b;
  box-shadow: 0 0 5px 1px #ccc;
  border: 2px solid #FFF;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  cursor: pointer;
}
.fadePins {
  border: 0 solid #FFF;
  height: $hidden-pin-size;
  width: $hidden-pin-size;
  border-radius: $hidden-pin-size;
}
.PointHoverState {
  -webkit-box-shadow: 0 0 5px 20px rgba(146, 155, 168, 0.3);
  box-shadow: 0 0 5px 20px rgba(146, 155, 168, 0.3);
  background: #6f809d;
  cursor: pointer;
}
.popper {
  position: absolute;
  background: #fff;
  color: black;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  padding: 10px;
  text-align: center;
}
.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.popper[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"] {
  margin-top: 5px;
}
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fff transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #fff transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
