<!-- EJS Variable output -->
<p><%= message %>!</p>

<!-- Rivets bidirectional binding output -->
<p><div id="count">Count: { welcome.count }</p>

<!-- External JSON API and Rivets binding -->
<p><img id="image_from_json" rv-src="welcome.imageUrl" width="300"></p>
<p><button id="change_image">Change Image</button></p>
